.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template: repeat(3, 1fr) / 3fr 50% 1fr;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}
/*repeat is a function that allows you to create multiple rows or colums quickly with a small block of code. You can specify how many then the size. it can be all the same size or alternating sizes that gets repeated as many times as you have designated*/
