p {
     font-family: Arial;
   }
h1 {
     color: maroon;
}
.title{
     color: teal;
}


/* similar to tag name, class name refers back to an attribute that you designated in the html file. This relationship will be styled according to nested style code */
