p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}
h2.destination {
  		font-family: cursive;
}
.description h5 {
  		color: teal;
}
h5 {
  		color: rebeccapurple !important;
}
/* adding !important to a css style element will always display that style and can not be overriden by another style. This can make it difficult to change styles easily so refrain from using this too often */
