p {
     font-family: Arial;
   }
h1 {
     color: maroon;
}
.title{
     color: teal;
}
.uppercase{
     text-transform: uppercase;
}
.publish-time{
     color: gray;
}
.cursive{
     font-family: cursive;
}
.capitalize{
     text-transform: capitalize;
}


/* targeting elements has a hierarchy of tags>class>ids. Each level gets a little more specific  */
